*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

a{
  text-decoration: none;
}

ul,li{ 
  list-style: none;
}
/* styles fot header */

.header_ul{
  
    background: #9ebbcd;
    display: flex;
    justify-content: space-around;
    padding: 12px;
    color: white; 
  }
  ul, li, a:hover{
    color: rgb(19, 20, 19);
  }
  .logo{
    height: 30px;
    width: 30px;
  }
